-# トップページ
-# - if user_signed_in?
-#   ログイン中
-#   = link_to "ログアウト", destroy_user_session_path, method: :delete
-# - else
-#   ログインしていません
-#   = link_to "新規登録", new_user_registration_path
-#   = link_to "ログイン", new_user_session_path
= render "header"
.contents
  .contents__left
    あなたのお仕事
    %br 分りやすく
  .contents__right
    - if user_signed_in?
      = link_to "予定表へGO", tasks_path, class: 'login-btn'
    - else